@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lexend';
    src: local('Lexend'),
        url('./../fonts/Lexend.woff2') format('woff2-variations'),
        url('./../fonts/Lexend.ttf') format('truetype-variations');
    unicode-range: U+00-7F;
}

@font-face {
    font-family: 'Jost';
    font-weight: 100 900;
    src: local('Jost Variations'),
        url('./../fonts/Jost.woff2') format('woff2-variations'),
        url('./../fonts/Jost.ttf') format('truetype-variations');
    unicode-range: U+00-7F;
}

.font-loaded body {
    font-family: 'Jost', system-ui;
}

.font-loaded .font-sans-alt {
    font-family: 'Lexend', system-ui;
}

.flex-grow-half {
    flex: 50%;
}

.flex-grow-40 {
    flex: 40%;
}

.flex-grow-60 {
    flex: 60%;
}

.flex-grow-full {
    flex: 100%;
}
