@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lexend';
    src: local('Lexend'),
        url('./../../../../src/resources/fonts/Lexend.woff2') format('woff2-variations'),
        url('./../../../../src/resources/fonts/Lexend.ttf') format('truetype-variations');
    unicode-range: U+00-7F;
}

@font-face {
    font-family: 'Jost';
    font-weight: 100 900;
    src: local('Jost Variations'),
        url('./../../../../src/resources/fonts/Jost.woff2') format('woff2-variations'),
        url('./../../../../src/resources/fonts/Jost.ttf') format('truetype-variations');
    unicode-range: U+00-7F;
}

.font-loaded body {
    font-family: 'Jost', system-ui;
}

.font-loaded .font-sans-alt {
    font-family: 'Lexend', system-ui;
}
